.header {
    height: 74px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #073042;
}

.header_dark {
    background: #073042;
    color: #FFFFFF;
}

.header_lite {
    background: #FFFFFF;
    color: #000000;
}

.singup__link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    margin-right: 30px;
    cursor: pointer;
    text-decoration: none;
}

.singup__link:hover {
    opacity: 0.7;
}

.singin__button {
    height: 32px;
    width: 76px;
    background: #2BE080;
    border-radius: 3px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    cursor: pointer;
    border: none;
}

.header__link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.header__link_active {
    font-weight: 500;
}

.header__link:hover {
    text-decoration: underline;
}

.account__button {
    background: #F9F9F9;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    height: 32px;
    width: 100px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .header {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 520px) {
    .header {
        padding-left: 14px;
        padding-right: 14px;
    }
}